.wraper {
    padding: 30px;
}

h4 {
    color: #000;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

h5 {
    color: #000;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 22px;
}

@mixin input {
    padding: 6px 10px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.05);
    border-radius: 5px;
    transition: .3s ease-in-out;
    outline: none;

    &:hover {
        border-color: #dca9f0;
        box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.05);
    }
}
.primary-input{
    @include input;
}

// Signature Component
.signature {
    margin: 30px 15px;
    width: calc(100% - 30px);

    .comp-box {
        background-color: #fff;
        padding: 0;
        box-shadow: 0px 3px 5px rgba(0,0,0,0.05);
        border-radius: 3px;
    }
}

.search-comp {
    text-align: left;
    width: calc(100% - 20px);

    select {
        @include input;
        width: 100%;
        margin-top: 20px;
    }

    input {
        width: 100%;
        margin-top: 30px;
    }

    .result {
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                margin: 10px 0;

                input {
                    appearance: none;
                    width: 15px;
                    height: 15px;
                    background-color: #eee;
                    margin: 0;
                    transform: translateY(3px);
                    border: 2px solid #ddd;
                    border-radius: 3px;

                    &:checked {
                        background-color: #59236f;
                    }
                }

                label {
                    margin-left: 10px;
                }
            }
        }
    }
}

.info {
    background-color: #eee;
    .half-doc {
        // max-height: 430px;
        // overflow-y: scroll;
        position: relative;

        .document-render{
            display: grid;
            
            .draggable {
                order: 1;
            }
            
            canvas {
                order: 2;
                margin-bottom: 30px;
                box-shadow: 0px 5px 15px rgba(0,0,0,0.05);
            }
        }
    }
}

@keyframes pop1 {
    0% {opacity: 0; transform: scale(0.9);}
    80% {opacity: 1; transform: scale(1.01);}
    100% {opacity: 1; transform: scale(1);}
}

.js-draggable-container {
    width: 100%;
    
    .draggable {
        padding: 20px;
        border: 1px dashed #9f91a3;
        background-color: rgba(255,255,255,0.5);
        list-style: none;
        margin: 20px auto 50px 0;
        width: auto;
        position: absolute;
        cursor: move;
        display: none;

        &:nth-child(even) {
            margin-top: 120px;
        }

        ul {
            padding: 0;
            padding-top: 10px;
        }
    }

    .draggable li,
    .draggable div { 
        margin: 4px 4px 4px 0;
        padding: 6px 25px;
        float: left;
        text-align: center;
        background-color: transparent;
        color: #000;
        box-shadow: none;
        border-bottom: 2px dotted;
        border-radius: 0px;
        cursor: move;
        animation: pop1 .3s ease-in-out;
        list-style: none;
        margin-right: 5px;
    }
}

.search-result {
  display: none;
}
.show {
  display: block !important;
}